/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-events {
	.event {
		margin: 20px 0;
		padding: 10px;
		border: 2px solid green;
		border-radius: 5px;
		display: grid;
		grid-template-columns: 4fr auto;
		grid-template-areas: 
			'name        online'
			'datetime    datetime'
			'address     address'
			'description description';
		&_name {
			grid-area: name;
			font-size: 24px;
			font-weight: bold;
		}
		&_online {
			grid-area: online;
			font-size: 20px;
			font-style: italic;
			font-weight: bold;
			justify-self: end;
			color: red;
		}
		&_datetime {
			grid-area: datetime;
			font-size: 20px;
		}
		&_address {
			grid-area: address;
			font-size: 20px;
		}
		&_description {
			grid-area: description;
			margin-top: 20px;
			font-size: 18px;
		}
	}
}

